.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgb(202, 143, 83);
  background: linear-gradient(
    306deg,
    rgba(202, 143, 83, 1) 0%,
    rgb(142, 119, 97) 49%,
    rgba(202, 143, 83, 1) 100%
  );
  padding: 20px; 
}

.footer p {
  text-align: center;
  margin: 0; 
}

