.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
  }
  
  .singleCard {
    background-color: bisque;
    margin: 10px;
    padding: 10px;
    max-width: 220px;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(254, 250, 224, 0.6), rgba(179, 159, 110, 0.6));

  }
  
  .singleCard img {
    width: 210px;
    height: 180px;
    border-radius: 20px;
  }
  
  /* Aplica un tamaño máximo al contenido de las tarjetas */
  .singleCard p, .singleCard h2 {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .top {
    background-color: bisque;
  }
  