select{
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.container {
  display: flex;
 
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: auto; 
  padding: 50px; 
  border-radius: 10px; 
  margin-bottom: 30px;
}

.container img{
  width: 450px;
  height: 327px;
  border-radius: 0%;
}



h1 {
  text-align: center;
  font-size: 25px;
  margin: 40px;
}

.container input{
    border-radius: 10px;
    border-color: rgb(236, 196, 144);
    margin: 10px;
    padding: 7px;
    background-color: rgb(239, 234, 229);
}

.form{
  display: flex;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.buttons div{
  margin: 10px;
}


.bottom{
    display: flex;
    justify-content: center;
}

.bottom input{
  cursor: pointer;
}




@media (max-width: 870px) {
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .small{
    height: 100%;
  }

  .container{
    padding: 20px;
    flex-direction: column;
  }

  .container img{
    display: none;
  }

  .container input{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mediaq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 300px) {
  .formSelect{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


  .container{
    /* width: 230px; */
    padding: 20px;
  }
 
}

