.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 90.8vh; 
  }
  
  .container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .container img {
    max-width: 100%; /* Ajusta la imagen para que quepa en el div */
    height: 80%;
  }

  .container Button {
    background-color: rgb(247, 237, 225);
    border-color: #ca8f53;;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .container Button:hover {
    background: linear-gradient(to bottom, #8a7252, #83582c);
    color: white; /* Cambiamos el color del texto a blanco */
  }

  
  



