.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 91.9vh; 
    background-image: url("https://i.etsystatic.com/7315499/r/il/b58d2d/4329725207/il_fullxfull.4329725207_iwnj.jpg");
  }
  
  .container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .tittle{
    background-color:#DDB892;
  }
  
  .container img {
    max-width: 100%; /* Ajusta la imagen para que quepa en el div */
    height: 80%;
  }

  @media (max-width: 700px) {
    .container{
      display: flex;
      flex-direction: column-reverse;
      height: 94vh; 
    }

    .container div{
      height: 50vh;
    }

    .tittle h2{
      font-size: 20px;
    }
}



  
  



