body {
  margin: 0;
  padding: 0;
  place-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fae5d1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2, p{
  text-align: center;
}

Button{
  background-color: rgb(247, 237, 225);
  border-color: #ca8f53;;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  cursor: pointer;
}

Button:hover {
  background: linear-gradient(to bottom, #8a7252, #83582c);
  color: white; /* Cambiamos el color del texto a blanco */
}




