@keyframes loader {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #a55c23;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: loader 2s linear infinite;
}
  

.detailContainer{
    display: flex;
    justify-content: center;
    justify-content:space-around;
}

.detailCenter{
    display: flex;
    flex-direction: column;
}

.detailContainer img{
    border-radius: 20px;
}

.bottom{
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}

@media(min-width:600px){
    .detailContainer{
     height: 58vh;  
    }
}

@media(max-width:600px){
    .detailContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .detailContainer img{
        display: flex;
        justify-content: center;
        border-radius: 20px;
        width: 51vh;
        margin: auto;

    }

    .bottom{
       
        margin: 10px;
    }

}

@media(max-width:440px){

   
    .detailContainer img{
        display: flex;
        justify-content: center;
        border-radius: 20px;
        width: 40vh;
        margin: auto;
        margin-top: 40px
    }

    .detailCenter p{
        font-size: 13px;
    }

    .bottom{
        margin: 30px;
    }

    
}





