.detailContainer h1{
    text-align: center;
}

.detailContainer{
    display: flex;
    justify-content: center;
    justify-content:space-around;
    height: 54.4vh; 
}

.detailCenter{
    display: flex;
    flex-direction: column;
}

.detailContainer img{
    border-radius: 20px;
}

.bottom{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}






