.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.reverse{
    display: flex;
    flex-direction: row-reverse;
}

img{
    height: 250px;
    width: 320px;
}

.container h2, p{
    text-align: center;
}