.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #EBD6C1;
    border-radius: 20px;
}

img{
    height: 250px;
    width: 320px;
    border-radius: 20px;
    margin: 10px;
}


@media (max-width: 600px) {
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reverse{
        display: flex;
        flex-direction: column;
        margin: auto;
        border-radius: 0;
        padding: 20px;
    }
}

@media (max-width: 400px) {
    img{
        height: 220px;
        width: 250px;
    }

    h1{
        font-size: 1.7rem;
    }
}